.login {
	-fx-background-color: linear-gradient(to right, #ff416c, #ff4b2b);
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #fff;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

.login-form-botao {
	-fx-font-size: 16px;
}